{% load form_tags %}
<div class="modal fade" id="modal-tecnico">
    <div class="modal-dialog modal-xl2">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nueva formacion Técnica</h5>
                <button type="button" class="btn btn-danger btn-md pull-right" style="margin-top:-30px;"
                        id="btnCerrarHeaderModalTecnico">x
                </button>
            </div>
            <form id="formTecnico" action="POST" class="p-2">
                {% csrf_token %}
                <div id="errores_list1"></div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-md-4">
                                {% field form_tecnico.centro_estudios cols=False label=True %}
                            </div>
                            <div class="col-md-8">
                                {% field form_tecnico.nombre_carrera cols=False label=True %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-md-3">
                                {% field form_tecnico.fecha_inicio cols=False label=True %}
                            </div>
                            <div class="col-md-3">
                                {% field form_tecnico.fecha_fin cols=False label=True %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary m-b-sm add-item-tecnico" data-added="0">Agregar</a>
                    <button type="button" data-dismiss="modal" class="btn btn-danger" id="btnCerrarModalTecnico">
                        Cerrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
