{% load form_tags %}
<div class="modal fade" id="modal-maestria">
    <div class="modal-dialog modal-xl2">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nueva maestria</h5>
                <button type="button" class="btn btn-danger btn-md pull-right" style="margin-top:-30px;"
                        id="btnCerrarHeaderModalMaestria">x
                </button>
            </div>
            <form id="formMaestria" action="POST" class="p-2">
                {% csrf_token %}
                <div id="errores_list3"></div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-md-12">
                                {% field form_maestria.denominacion cols=False label=True %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-md-8">
                                {% field form_maestria.centro_estudios cols=False label=True %}
                            </div>
                            <div class="col-md-3">
                                {% field form_maestria.pais_estudios cols=False label=True %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-md-3">
                                {% field form_maestria.duracion cols=False label=True %}
                            </div>
                            <div class="col-md-3">
                                {% field form_maestria.fecha_inicio cols=False label=True %}
                            </div>
                            <div class="col-md-3">
                                {% field form_maestria.fecha_fin cols=False label=True %}
                            </div>
                            <div class="col-md-3">
                                {% field form_maestria.modalidad cols=False label=True %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary m-b-sm add-item-maestria" data-added="0">Agregar</a>
                    <button type="button" data-dismiss="modal" class="btn btn-danger" id="btnCerrarModalMaestria">
                        Cerrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
