{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap-flat.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/animate/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    <title>SEINCOV19</title>
</head>
<body class="bodyLogin">
<section class="contentLogin animated fadeIn">
    <div class="loginContainer animated zoomIn">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-5">
                    <div class="contentLogoLogin">
                        <img src="{% static 'img/logo-unasam.png' %}" alt="Logo UNASAM"
                             class="img-responsive center-block logoUNASAM">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7">
                    <form method="post">
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        <input type="submit" value="Ingresar" class="btn btn-block btn-info">
                        <a href="/" class="btn btn-block btn-primary">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
